/* file: _functions.scss, must be attached first*/
/*====COLORS=======*/
/*=====FONTS=======*/
/*@include google-font("Alegreya+Sans");*/
/*@include google-font("Titillium+Web");*/
body {
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
  color: #545871; }

.wrapper {
  margin: 0 auto; }
  @media only screen and (max-width: 420px) {
    .wrapper {
      max-width: 420px; } }
  @media only screen and (max-width: 575px) {
    .wrapper {
      max-width: 575px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .wrapper {
      max-width: 767px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
      max-width: 991px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .wrapper {
      max-width: 1199px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .wrapper {
      max-width: 1399px; } }
  @media only screen and (min-width: 1400px) {
    .wrapper {
      max-width: 1450px; } }

/* HEADER :*/
header {
  color: #fff;
  background-image: url("../img/bg-header.png");
  background-size: cover;
  background-repeat: no-repeat; }

#navbarCollapse {
  padding-top: 85px; }

.top-header {
  color: #fff;
  padding-bottom: 80px; }

.top-header__brand {
  padding-left: 100px;
  padding-top: 20px; }
  .top-header__brand p {
    font-size: 24px; }
  @media only screen and (max-width: 420px) {
    .top-header__brand {
      display: none; } }
  @media only screen and (max-width: 575px) {
    .top-header__brand {
      display: none; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .top-header__brand {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-header__brand {
      display: block; } }

.top-header__signature {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 115px; }

.top-header__nav {
  padding-top: 110px;
  padding-left: 170px; }
  .top-header__nav a {
    color: #fff;
    text-decoration: none; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-header__nav {
      text-align: right; } }

h1.top-header__greating {
  font-size: 54px;
  font-weight: bold;
  padding-top: 35px; }
  @media only screen and (min-width: 1400px) {
    h1.top-header__greating {
      padding-left: 170px;
      text-align: right;
      padding-right: 50px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    h1.top-header__greating {
      padding-left: 170px;
      text-align: right;
      padding-right: 50px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    h1.top-header__greating {
      text-align: right;
      padding-right: 50px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    h1.top-header__greating {
      text-align: right;
      padding-right: 50px;
      font-size: 48px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    h1.top-header__greating {
      text-align: right;
      padding-right: 20px;
      font-size: 34px; } }
  @media only screen and (max-width: 575px) {
    h1.top-header__greating {
      text-align: right;
      padding-right: 10px;
      font-size: 28px; } }
  @media only screen and (max-width: 420px) {
    h1.top-header__greating {
      text-align: center;
      padding-right: 10px;
      font-size: 28px; } }

.top-header__signUp {
  padding-top: 0; }
  .top-header__signUp button {
    font-size: 24px;
    padding: 8px 80px; }
  @media only screen and (min-width: 1400px) {
    .top-header__signUp {
      padding-left: 170px;
      text-align: right;
      padding-right: 50px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .top-header__signUp {
      text-align: right;
      padding-right: 50px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-header__signUp {
      text-align: right;
      padding-right: 50px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-header__signUp {
      text-align: right;
      padding-right: 50px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .top-header__signUp {
      text-align: right;
      padding-right: 20px; } }
  @media only screen and (max-width: 575px) {
    .top-header__signUp {
      text-align: center;
      padding-right: 20px; } }
  @media only screen and (max-width: 420px) {
    .top-header__signUp {
      text-align: center;
      padding-right: 20px; } }

/*========== MAIN ===========================*/
/* SECTION 1*/
.section1 {
  padding: 100px 0px;
  background-color: #fff;
  color: #545871; }
  .section1 h2 {
    font-size: 48px; }

.section1__article p {
  margin-top: 30px; }
.section1__article button {
  margin-top: 75px;
  font-size: 24px;
  padding: 8px 80px; }
@media only screen and (min-width: 1400px) {
  .section1__article {
    padding-left: 150px; } }
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .section1__article {
    padding-left: 120px; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section1__article {
    padding-left: 100px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section1__article {
    padding-left: 50px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section1__article {
    padding-left: 50px;
    text-align: center; } }
@media only screen and (max-width: 575px) {
  .section1__article {
    padding-left: 15px;
    text-align: center; } }

.section1__article-gallery-sm {
  padding: 20px; }
  .section1__article-gallery-sm div {
    padding: 10px; }

.section1__gallery .thumb {
  text-align: center;
  padding: 15px 0; }
  .section1__gallery .thumb p {
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 15%; }
@media only screen and (min-width: 1400px) {
  .section1__gallery {
    padding-left: 60px;
    padding-right: 120px; } }
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .section1__gallery {
    padding-left: 60px;
    padding-right: 60px; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section1__gallery {
    padding-left: 10px;
    padding-right: 10px; } }

/* SECTION 2*/
.section2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #faeceb; }

.section2__ollieMaggie img {
  width: 100%;
  height: 100%; }
.section2__ollieMaggie p {
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 10%;
  left: 15%; }

.section2__article {
  color: #545871;
  padding: 100px 0; }
  .section2__article h2 {
    font-size: 48px;
    padding-left: 20px;
    padding-right: 20px; }
  .section2__article p {
    padding-left: 20px;
    padding-right: 20px; }
  .section2__article button {
    margin-top: 75px;
    font-size: 24px;
    padding: 8px 80px; }
  @media only screen and (min-width: 1400px) {
    .section2__article h2 {
      font-size: 48px;
      padding-left: 180px;
      padding-right: 150px; }
    .section2__article p {
      padding-left: 180px;
      padding-right: 150px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .section2__article h2 {
      font-size: 48px;
      padding-left: 100px;
      padding-right: 100px; }
    .section2__article p {
      padding-left: 100px;
      padding-right: 100px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section2__article h2 {
      font-size: 48px;
      padding-left: 70px;
      padding-right: 70px; }
    .section2__article p {
      padding-left: 70px;
      padding-right: 70px; } }

.section2__signUp {
  text-align: center; }
  @media only screen and (min-width: 1400px) {
    .section2__signUp {
      padding-left: 180px;
      padding-right: 150px; } }

/* SECTION 3*/
.section3 {
  background-color: #545871;
  padding-top: 110px;
  padding-bottom: 110px;
  min-height: 900px; }

.section3__heading h2 {
  text-align: center;
  font-size: 48px;
  color: #fff; }

.section3__pets {
  padding-top: 25px; }

.section3__pets-profile {
  padding: 25px; }
  .section3__pets-profile .pet-avatar {
    padding-bottom: 20px;
    font-weight: bold; }
  .section3__pets-profile .pet-data {
    text-align: center;
    padding-bottom: 10px; }
  .section3__pets-profile .pet-param {
    font-size: 12px;
    text-align: center; }

.section3__signUp {
  padding-top: 30px; }
  .section3__signUp button {
    color: #545871;
    font-weight: bold;
    font-size: 24px;
    padding: 8px 80px; }

/*SECTION 4*/
.section4 {
  color: #545871;
  padding-top: 100px;
  padding-bottom: 110px; }

.section4__heading {
  text-align: center; }
  .section4__heading h2 {
    font-size: 48px;
    font-weight: bold; }
  .section4__heading p {
    padding-top: 40px;
    font-size: 24px;
    font-weight: 300; }

.section4__pricePlan {
  padding-top: 95px; }

.section4__pricePlan-options {
  border-radius: 10px;
  border: 1px solid #dadbe7;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px; }
  .section4__pricePlan-options:hover {
    border-top: 2px solid #dadbe7;
    border-bottom: 2px solid #dadbe7;
    border-left: 0.05px solid #dadbe7;
    border-right: 0.05px solid #dadbe7; }
  .section4__pricePlan-options img {
    position: absolute;
    top: -12%;
    left: 35%; }
  .section4__pricePlan-options h3 {
    padding-top: 60px;
    font-size: 36px;
    font-weight: bold; }
  .section4__pricePlan-options p {
    font-size: 20px; }
  .section4__pricePlan-options .cost {
    background-color: #f0f1f8;
    border-top: 1px solid #dadbe7; }
    .section4__pricePlan-options .cost a {
      color: #545871;
      text-decoration: none; }
      .section4__pricePlan-options .cost a:hover {
        color: #333645; }
    .section4__pricePlan-options .cost p {
      font-size: 48px;
      font-weight: bold;
      padding-top: 20px;
      margin-bottom: 0; }
    .section4__pricePlan-options .cost .small {
      font-size: 12px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section4__pricePlan-options {
      margin-left: 7px;
      margin-right: 7px; }
      .section4__pricePlan-options h3 {
        font-size: 24px; }
      .section4__pricePlan-options p {
        font-size: 16px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section4__pricePlan-options img {
      position: absolute;
      top: -12%;
      left: 42%; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section4__pricePlan-options img {
      position: absolute;
      top: -12%;
      left: 42%; } }
  @media only screen and (max-width: 575px) {
    .section4__pricePlan-options img {
      position: absolute;
      top: -12%;
      left: 40%; } }
  @media only screen and (max-width: 575px) {
    .section4__pricePlan-options img {
      display: none; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section4__pricePlan-box {
    margin-bottom: 80px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section4__pricePlan-box {
    margin-bottom: 80px; } }
@media only screen and (max-width: 575px) {
  .section4__pricePlan-box {
    margin-bottom: 80px; } }

.section4__signUp {
  padding-top: 60px;
  text-align: center; }
  .section4__signUp button {
    font-weight: bold;
    font-size: 24px;
    padding: 8px 80px; }

/* FOOTER: */
footer {
  padding-top: 125px;
  padding-bottom: 100px;
  background-color: #faeceb;
  text-align: center;
  /* MODAL:*/ }
  footer h2 {
    color: #545871;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 25px; }
    footer h2:hover {
      color: rgba(84, 88, 113, 0.7); }
  footer a {
    color: #545871;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none !important; }
    footer a:hover {
      color: rgba(84, 88, 113, 0.7); }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    footer h2 {
      font-size: 34px; }
    footer a {
      font-size: 34px; } }
  @media only screen and (max-width: 575px) {
    footer h2 {
      font-size: 28px; }
    footer a {
      font-size: 28px; } }

/*# sourceMappingURL=main.css.map */
