/*====COLORS=======*/
$d-g-amarant: #545871;
$g-amarant: #9497a7;
$light-pink: #faeceb;
$pink: #ebd0ce;
$light-grey: #f0f1f7;
$grey: #dadbe7;
$light-grey: #f0f1f8;
$bordeau: #c37e7b;
$rose:#f1cfcd;
$mauve-clair: #e9dbda;

/*=====FONTS=======*/
$text-font: 'Alegreya Sans', Arial, sans-serif;
$headline-font: 'Titillium Web', Georgia, serif;