@import "functions";/* file: _functions.scss, must be attached first*/
@import "variables";
@import "mixins";

/*@include google-font("Alegreya+Sans");*/
/*@include google-font("Titillium+Web");*/

body {
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif; 
	color: $d-g-amarant;
}

header{
	background-color: #fff;
}
.top-header{
	color: #fff;
	background-image: url("../img/bg-header.png");
	background-size: cover;
	background-repeat: no-repeat;
	@include xx-lg-screens {
		height: 720px;
	}
}
.top-header__nav{
	a{
		color: #fff;
		text-decoration: none;
	}
}
h1.top-header__greating{
	font-size: 54px;
	font-weight: bold;
}


