@import "functions";/* file: _functions.scss, must be attached first*/
@import "variables";
@import "mixins";

/*@include google-font("Alegreya+Sans");*/
/*@include google-font("Titillium+Web");*/

body {
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif; 
	color: $d-g-amarant;
}
.wrapper{	
	margin: 0 auto;
	@include small-xs-screens {
		max-width: 420px;
	}
	@include xs-screens {
		max-width: 575px;
	}
	@include sm-screens {
		max-width: 767px;
	}
	@include md-screens {
		max-width: 991px;
	}
	@include lg-screens {
		max-width: 1199px;
	}
	@include x-lg-screens {
		max-width: 1399px;
	}
	@include xx-lg-screens {
		max-width: 1450px;
	}
}

/* HEADER :*/
header{
	color: #fff;
	background-image: url("../img/bg-header.png");
	background-size: cover;
	background-repeat: no-repeat;
	
}
#navbarCollapse {
	padding-top: 85px;
}
.top-header{
	color: #fff;
	padding-bottom: 80px;
	
}
.top-header__brand{
	p{font-size: 24px;}
	padding-left: 100px;
	padding-top: 20px;
	@include small-xs-screens {
		display: none;
	}
	@include xs-screens {
		display: none;
	}
	@include sm-screens {
		display: none;
	}
	@include md-screens {
		display: block;
	}
}
.top-header__signature{
	font-size: 16px;
	padding-top: 20px;
	padding-left: 115px;
	
}
.top-header__nav{
	padding-top: 110px;
	padding-left: 170px;
	a{
		color: #fff;
		text-decoration: none;
	}
	@include lg-screens {
		text-align: right;
	}
}
h1.top-header__greating{
	font-size: 54px;
	font-weight: bold;
	padding-top: 35px;
	@include xx-lg-screens {
		padding-left: 170px;
		text-align: right;
		padding-right: 50px;
	}
	@include x-lg-screens {
		padding-left: 170px;
		text-align: right;
		padding-right: 50px;
	}
	@include lg-screens {
		text-align: right;
		padding-right: 50px;
	}
	@include md-screens {
		text-align: right;
		padding-right: 50px;
		font-size: 48px;
	}
	@include sm-screens {
		text-align: right;
		padding-right: 20px;
		font-size: 34px;		
	}
	@include xs-screens {
		text-align: right;
		padding-right: 10px;
		font-size: 28px;		
	}
	@include small-xs-screens {
		text-align: center;
		padding-right: 10px;
		font-size: 28px;		
	}

}
.top-header__signUp {	
	padding-top: 0;
	button{
		font-size: 24px;
		padding: 8px 80px;	
	}
	@include xx-lg-screens {
		padding-left: 170px;
		text-align: right;
		padding-right: 50px;
	}
	@include x-lg-screens {
		text-align: right;
		padding-right: 50px;
	}
	@include lg-screens {
		text-align: right;
		padding-right: 50px;
	}
	@include md-screens {
		text-align: right;
		padding-right: 50px;		
	}
	@include sm-screens {
		text-align: right;
		padding-right: 20px;		
	}
	@include xs-screens {
		text-align: center;
		padding-right: 20px;		
	}
	@include small-xs-screens {
		text-align: center;
		padding-right: 20px;		
	}
}
/*========== MAIN ===========================*/
/* SECTION 1*/
.section1 {
	padding: 100px 0px;
	background-color: #fff;
	color: $d-g-amarant;
	h2{
		font-size: 48px;
	}
}
.section1__article {	
	p{
		margin-top: 30px;
	}
	button{
		margin-top: 75px;
		font-size: 24px;
		padding: 8px 80px;
	}
	@include xx-lg-screens {
		padding-left: 150px;
	}
	@include x-lg-screens {
		padding-left: 120px;
	}
	@include lg-screens {
		padding-left: 100px;
	}
	@include md-screens {
		padding-left: 50px;
	}
	@include sm-screens {
		padding-left: 50px;
		text-align: center;		
	}
	@include xs-screens {
		padding-left: 15px;
		text-align: center;		
	}
}
.section1__article-gallery-sm {
	padding: 20px;

	div{
		padding: 10px;
	}
}
.section1__gallery {	
	
	.thumb{
		text-align: center;
		padding: 15px 0;
		
		p{
			font-size: 16px;
			color: #fff;
			position: absolute;
			bottom: 10%;
			left: 15%;
		}		
	}
	@include xx-lg-screens {
		padding-left: 60px;
		padding-right: 120px;
	}
	@include x-lg-screens {
		padding-left: 60px;
		padding-right: 60px;
	}
	@include lg-screens {
		padding-left: 10px;
		padding-right: 10px;
	}
	@include md-screens {
		
	}
	@include sm-screens {
				
	}
	@include xs-screens {
			
	}

}

/* SECTION 2*/
.section2 {
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: $light-pink;	
}
.section2__ollieMaggie {
	img{
		width: 100%;
    height: 100%;
	}
	p{
			font-size: 16px;
			color: #fff;
			position: absolute;
			bottom: 10%;
			left: 15%;
		}	
}
.section2__article {
	color: $d-g-amarant;
	padding: 100px 0;
	h2{
		font-size: 48px;
		padding-left: 20px;
		padding-right: 20px;
		}
		p{
			padding-left: 20px;
			padding-right: 20px;
		}
	button{
		margin-top: 75px;
		font-size: 24px;
		padding: 8px 80px;
	}
	@include xx-lg-screens {
		h2{
		font-size: 48px;
		padding-left: 180px;
		padding-right: 150px;
		}
		p{
			padding-left: 180px;
			padding-right: 150px;
		}
	}
	@include x-lg-screens {
		h2{
		font-size: 48px;
		padding-left: 100px;
		padding-right: 100px;
		}
		p{
			padding-left: 100px;
			padding-right: 100px;
		}
	}
	@include lg-screens {
		h2{
		font-size: 48px;
		padding-left: 70px;
		padding-right: 70px;
		}
		p{
			padding-left: 70px;
			padding-right: 70px;
		}
	}
	@include md-screens {
		
	}
	@include sm-screens {
				
	}
	@include xs-screens {
			
	}
}
.section2__signUp{
	text-align: center;
	@include xx-lg-screens {
		padding-left: 180px;
		padding-right: 150px;
	}
}

/* SECTION 3*/
.section3 {
	background-color: $d-g-amarant;
	padding-top: 110px;
	padding-bottom: 110px;
	min-height: 900px;
}
.section3__heading{
	h2{
		text-align: center;
		font-size: 48px;
			color: #fff;
	}	
}
.section3__pets {
	padding-top: 25px;
}
.section3__pets-profile {
	padding: 25px;

	.pet-avatar{
		padding-bottom: 20px;
		font-weight: bold;
	}
	.pet-data{
		text-align: center;
		padding-bottom: 10px;
	}
	.pet-param{
		font-size: 12px;
		text-align: center;
	}
	
	
}
.section3__signUp{
	padding-top: 30px;
	button{
		color: $d-g-amarant;
		font-weight: bold;
		font-size: 24px;
		padding: 8px 80px;	
	}
}

/*SECTION 4*/
.section4 {
	color: $d-g-amarant;
	padding-top: 100px;
	padding-bottom: 110px;
}
.section4__heading{
	text-align: center;
	h2{
		font-size: 48px;
		font-weight: bold;
	}
	p{
		padding-top: 40px;
		font-size: 24px;
		font-weight: 300;
	}
}
.section4__pricePlan{
	padding-top: 95px;

}
.section4__pricePlan-options{
	border-radius: 10px;
	border: 1px solid $grey;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	margin-left: 10px;
	margin-right: 10px;
	&:hover{
		border-top: 2px solid $grey;
		border-bottom: 2px solid $grey;
		border-left: .05px solid $grey;
		border-right: .05px solid $grey;
	}
	img{
		position: absolute;
		top: -12%;
		left: 35%;
	}
	h3{
		padding-top: 60px;
		font-size: 36px;
		font-weight: bold;
	}
	p {
		font-size: 20px;
	}
	.cost{
		background-color: $light-grey;
		border-top: 1px solid $grey;
		a{
			color: $d-g-amarant;
			text-decoration: none;
			&:hover{
				color: darken($d-g-amarant, 15%);
			}
		}
		p {
			font-size: 48px;
			font-weight: bold;
			padding-top: 20px;
			margin-bottom: 0;
		}
		.small{
			font-size: 12px;
		}
	}

	@include lg-screens {
		h3{
			font-size: 24px;			
		}
		p{
			font-size: 16px;
		}
		margin-left: 7px;
		margin-right: 7px;
	}
	@include md-screens {
		img{
			position: absolute;
			top: -12%;
			left: 42%;
		}
	}
	@include sm-screens {
		img{
			position: absolute;
			top: -12%;
			left: 42%;
		}		
	}
	@include xs-screens {
		img{
			position: absolute;
			top: -12%;
			left: 40%;
		}	
	}
	@include xs-screens {
		img{
			display: none;
		}	
	}

}
.section4__pricePlan-box{
	@include md-screens {
		margin-bottom: 80px;
	}
	@include sm-screens {
		margin-bottom: 80px;		
	}
	@include xs-screens {
		margin-bottom: 80px;	
	}
}

.section4__signUp{
	padding-top: 60px;
	text-align: center;
	button{
		font-weight: bold;
		font-size: 24px;
		padding: 8px 80px;
	}
}

/* FOOTER: */
footer{
	padding-top: 125px;
	padding-bottom: 100px;
	background-color: $light-pink;
	text-align: center;
	h2{
		color: $d-g-amarant;
		font-size: 48px;
		font-weight: bold;

		padding-bottom: 25px;
		&:hover{
			color: rgba($d-g-amarant, .7);
		}
	}
	a{		
		color: $d-g-amarant;
		font-size: 48px;
		font-weight: bold;
		text-decoration: none !important;
		&:hover{
			color: rgba($d-g-amarant, .7);
		}
	}
	@include sm-screens {
		h2{
			font-size: 34px;
		}	
		a{
			font-size: 34px;			
		}	
	}
	@include xs-screens {
		h2{
			font-size: 28px;
		}	
		a{
			font-size: 28px;			
		}		
	}


}
	@include xx-lg-screens {
		
	}
	@include x-lg-screens {
		
	}
	@include lg-screens {
		
	}
	@include md-screens {
		
	}
	@include sm-screens {
				
	}
	@include xs-screens {
			
	}
